#**Trabalhando com Planilhas do Excel**

In [1]:
#Importando a biblioteca
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/DIO-UNIMED-DS/datasets/Salvador.xlsx")

In [6]:
df2.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [42]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [10]:
#Exibindo as 5 primeiras linhas
df.head(10)

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8
5  Aracaju 2018-01-01  156.20    1522     1
6  Aracaju 2018-01-01   35.50    1522     2
7  Aracaju 2019-01-01  172.22    1522     6
8  Aracaju 2019-01-01   12.16    1523     1
9  Aracaju 2019-01-01  149.36    1523     3

In [19]:
#Exibindo as 5 últimas linhas
df.tail(10)

       Cidade       Data  Vendas LojaID  Qtde
230  Salvador 2019-01-03  184.69   1036     1
231  Salvador 2019-01-03   89.85   1034     2
232  Salvador 2019-01-03  167.76   1034     3
233  Salvador 2019-01-03  172.40   1036     2
234  Salvador 2019-01-03   48.39   1035     2
235  Salvador 2019-01-03   41.84   1034     1
236  Salvador 2019-01-03  126.29   1035     3
237  Salvador 2019-01-03   38.06   1036     3
238  Salvador 2019-01-03  139.64   1035     1
239  Salvador 2019-01-03  161.41   1037     3

In [20]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
142      Natal 2019-01-02    7.12   1034     1
154      Natal 2019-01-02    9.58   1037     1
84    Salvador 2019-01-01   22.99   1036     1
51       Natal 2018-01-21  859.00    852     4
48   Fortaleza 2019-01-01   40.71   1002     6
127   Salvador 2019-03-02  240.61   1035     3
6    Fortaleza 2019-01-01   38.40   1003     4
10       Natal 2018-10-27  828.00    852     4
117   Salvador 2019-03-02   39.41   1034     1
114      Natal 2019-01-02   25.52   1034     1
103     Recife 2019-01-01   41.65    982     3
83    Salvador 2019-01-01   63.66   1036     2
29      Recife 2019-01-01   10.18    980     8
69      Recife 2019-01-01   38.83    981     1
135  Fortaleza 2019-03-02   10.79    983     5

In [43]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [49]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [50]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [17]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [45]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [37]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [46]:
df["Vendas"].mean()

122.61180089485458

In [47]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [48]:
df.sample(15)

        Cidade       Data  Vendas  LojaID  Qtde
154   Salvador 2019-01-02    9.58    1037     1
91       Natal 2019-01-02   17.74    1035     1
98    Salvador 2019-01-01  231.76    1036     3
34       Natal 2019-01-07  484.00     852     2
168   Salvador 2019-01-02   20.22    1036     1
235   Salvador 2019-01-03   41.84    1034     1
126   Salvador 2019-03-02   41.69    1036     2
81   Fortaleza 2019-01-01   10.68    1005     1
73    Salvador 2019-01-01    8.39    1037     1
94   Fortaleza 2019-01-01  150.49    1003     5
102     Recife 2019-01-01   96.50     982     7
2       Recife 2019-02-10   12.94     983     5
106      Natal 2019-01-02  149.19    1035     2
56       Natal 2018-03-02  704.00     852     4
92      Recife 2019-01-01  163.02     981     4

In [51]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [52]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [53]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [30]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [54]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [55]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [56]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [57]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [58]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [59]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [64]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [63]:
#nsamllest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [65]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [66]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [67]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [68]:
df

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas
0,Aracaju,1514764800000000000,142.00,1520,1,142.00,1.0
1,Aracaju,1514764800000000000,14.21,1522,6,85.26,6.0
2,Aracaju,1514764800000000000,71.55,1520,1,71.55,1.0
3,Aracaju,1514764800000000000,3.01,1521,7,21.07,7.0
4,Aracaju,1514764800000000000,24.51,1522,8,196.08,8.0
...,...,...,...,...,...,...,...
235,Salvador,1546473600000000000,41.84,1034,1,41.84,1.0
236,Salvador,1546473600000000000,126.29,1035,3,378.87,3.0
237,Salvador,1546473600000000000,38.06,1036,3,114.18,3.0
238,Salvador,1546473600000000000,139.64,1035,1,139.64,1.0
239,Salvador,1546473600000000000,161.41,1037,3,484.23,3.0

In [69]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [71]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [72]:
df

       Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0     Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1     Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2     Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3     Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4     Aracaju 2018-01-01   24.51   1522     8   196.08             8.0
..        ...        ...     ...    ...   ...      ...             ...
235  Salvador 2019-01-03   41.84   1034     1    41.84             1.0
236  Salvador 2019-01-03  126.29   1035     3   378.87             3.0
237  Salvador 2019-01-03   38.06   1036     3   114.18             3.0
238  Salvador 2019-01-03  139.64   1035     1   139.64             1.0
239  Salvador 2019-01-03  161.41   1037     3   484.23             3.0

[894 rows x 7 columns]

In [73]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [74]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [76]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
74,Aracaju,2018-01-01,7.86,1520,2,15.72,2.0,2018
76,Fortaleza,2019-01-01,38.61,1004,4,154.44,4.0,2019
99,Fortaleza,2019-01-01,9.01,1002,3,27.03,3.0,2019
8,Fortaleza,2019-02-11,37.49,1005,1,37.49,1.0,2019
46,Aracaju,2018-01-01,41.42,1522,2,82.84,2.0,2018

In [77]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [78]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
202,Salvador,2019-01-02,22.45,1036,1,22.45,1.0,2019,1,2
98,Aracaju,2018-01-01,138.33,1521,10,1383.30,10.0,2018,1,1
40,Aracaju,2018-01-01,6.99,1522,7,48.93,7.0,2018,1,1
15,Salvador,2019-01-01,20.15,1036,3,60.45,3.0,2019,1,1
13,Aracaju,2018-01-01,43.45,1522,10,434.50,10.0,2018,1,1

In [79]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [80]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [81]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias
59,Fortaleza,2019-01-01,6.31,1002,3,18.93,3.0,2019,1,1,365 days
33,Aracaju,2018-01-01,35.09,1523,4,140.36,4.0,2018,1,1,0 days
38,Fortaleza,2019-01-01,35.09,1004,4,140.36,4.0,2019,1,1,365 days
49,Aracaju,2018-01-01,53.74,1522,3,161.22,3.0,2018,1,1,0 days
110,Fortaleza,2019-03-02,51.98,983,6,311.88,6.0,2019,3,2,425 days

In [85]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [86]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
27,Recife,2019-01-01,22.25,980,7,155.75,7.0,2019,1,1,365 days,1
149,Salvador,2019-01-02,22.38,1034,3,67.14,3.0,2019,1,2,366 days,1
9,Aracaju,2019-01-01,149.36,1523,3,448.08,3.0,2019,1,1,365 days,1
167,Salvador,2019-01-02,36.42,1037,1,36.42,1.0,2019,1,2,366 days,1
67,Fortaleza,2019-01-01,43.51,1003,1,43.51,1.0,2019,1,1,365 days,1

In [87]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [88]:
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
140,Fortaleza,2019-03-02,166.89,983,5,834.45,5.0,2019,3,2,425 days,1
113,Salvador,2019-03-02,18.90,1034,3,56.70,3.0,2019,3,2,425 days,1
128,Fortaleza,2019-03-02,38.70,982,4,154.80,4.0,2019,3,2,425 days,1
141,Fortaleza,2019-03-02,182.75,983,8,1462.00,8.0,2019,3,2,425 days,1
138,Recife,2019-03-02,150.38,983,6,902.28,6.0,2019,3,2,425 days,1
128,Salvador,2019-03-02,36.84,1034,1,36.84,1.0,2019,3,2,425 days,1
130,Fortaleza,2019-03-02,12.36,983,4,49.44,4.0,2019,3,2,425 days,1
137,Fortaleza,2019-03-02,51.99,983,3,155.97,3.0,2019,3,2,425 days,1
134,Fortaleza,2019-03-02,195.18,980,5,975.90,5.0,2019,3,2,425 days,1
133,Fortaleza,2019-03-02,14.67,980,7,102.69,7.0,2019,3,2,425 days,1
115,Recife,2019-03-02,12.23,981,3,36.69,3.0,2019,3,2,425 days,1
122,Salvador,2019-03-02,13.27,1037,1,13.27,1.0,2019,3,2,425 days,1
139,Recife,2019-03-02,141.16,980,7,988.12,7.0,2019,3,2,425 days,1
8,Natal,2019-03-27,667.00,852,4,2668.00,4.0,2019,3,27,450 days,1
133,Salvador,2019-03-02,153.71,1035,1,153.71,1.0,2019,3,2,425 days,1
114,Recife,2019-03-02,16.82,983,4,67.28,4.0,2019,3,2,425 days,1
108,Recife,2019-03-02,152.89,981,4,611.56,4.0,2019,3,2,425 days,1
116,Fortaleza,2019-03-02,79.10,982,2,158.20,2.0,2019,3,2,425 days,1
128,Recife,2019-03-02,38.70,982,4,154.80,4.0,2019,3,2,425 days,1
18,Natal,2019-03-14,581.00,853,3,1743.00,3.0,2019,3,14,437 days,1